# compile : nim c pix.nim
# Change paths below to correspond to your environment.
# nim.cfg

# platform :
@if macosx:
  --passL:"/usr/local/Cellar/tcl-tk/8.6.14/lib/libtclstub8.6.a"
  --passL:"/usr/local/Cellar/tcl-tk/8.6.14/lib/libtkstub8.6.a"
  --out:"../macosx-x86_64/libpix0.1.dylib"
@end

@if windows:
  --cc:"gcc" 
  --passL:"-s" 
  --passL:"-static-libgcc"
  --passL:"c:/dev/Tcl86/lib/tclstub86.lib"
  --passL:"c:/dev/Tcl86/lib/tkstub86.lib"
  --out:"../win32-x86_64/pix0.1.dll"
@end

@if linux:
  --passL:"/usr/lib/x86_64-linux-gnu/libtclstub8.6.a"
  --passL:"/usr/lib/x86_64-linux-gnu/libtkstub8.6.a"
  --out:"../linux-x86_64/libpix0.1.so"
@end

# Add pix nim paths:
--path:"tclpix"
--path:"tkpix"

# lib:
--app:"lib"

# Release:
-d:"release"